.jumbotron {
    background: url("../img/item_jumbotron.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 28%;
    color: white;
    margin-inside: 10px;
}

.jumbotron div {
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    color: white;
    border: 2px solid white;
}

.info .container {
    background: white;
    border-radius: 12px;
}

.img-rounded {
    max-width: 110px;
    max-height: 110px;
}
