
.jumbotron{
    background: url("../img/feedback_jumbotron.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 451px;
    color: white;
    margin-inside: 10px;
}

.jumbotron div{
    text-align: center;
    padding: 80px;
    margin-top: 50px;
    color: white;
    border: 2px solid white;
}

.jumbotron h1{
    font-size: 130px;
}

.jumbotron h4{
    font-size: 30px;
}


.infoinput h3{
    color: #BA2A40;
}

.infoinput .fields{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-top: 3px;
    background: white;
}

.submitbutton{
    padding-top: 10px;
}
