html, body {
    overflow-x: hidden;
}

.header .nav-pills>li>a {
    background-color: white;;
    border-color: #FF5B7F;;
    color: #FF5B7F;;
}

.header .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: white;
    background-color: #FF5B7F;
    border: 1px solid #f4f4f4;
}

.header .nav-pills>li>a:hover {
    border-color: white;
    color: white;
    background-color: #FF5B7F;
}

.header{
    padding: 10px;
}

.header li{
    display: inline;
}

.content{
    background: #f4f4f4;
}
