html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}


#wrapper {
    min-height:100%;
    position:relative;
}


.header .nav-pills>li>a {
    background-color: white;;
    border-color: #FF5B7F;;
    color: #FF5B7F;;
}

.header .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: white;
    background-color: #FF5B7F;
    border: 1px solid #f4f4f4;
}

.header .nav-pills>li>a:hover {
    border-color: white;
    color: white;
    background-color: #FF5B7F;
}

.header{
    padding: 9px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index:1;
}

.header li{
    display: inline;
}

.content{
    background: #f4f4f4;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 3.5%;
}


div.clear_both {
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 0;
    line-height: 0;
    clear: both;
}

div {
    line-height: 1.4em;
}
