.jumbotron{
    background: url("../img/newaccount_jumbotron.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 451px;
    color: white;
    margin-inside: 10px;
}

.jumbotron div{
    text-align: center;
    padding: 80px;
    margin-top: 50px;
    color: white;
    border: 2px solid #FF193B;
}

.jumbotron h1{
    font-size: 100px;
    background: #FF193B;
}

.jumbotron h4{
    font-size: 30px;
    background: #FF193B;
}


.infoinput h2{
    color: #BA2A40;
}

.fields{
    padding-top: 5px;
    padding-bottom: 12px;
    background: white;
}

.submitbutton{
    padding-top: 10px;
}
